@media only screen and (max-width:480px) {

    .body{
      
    }
  

  .pac img{
      width: 350px;
     }
     .davido{
      background: rgb(78, 78, 238);
      display: flex;
      justify-content: space-between;
      width: 800px;
       
     }
    

}